.logo{
    font-size: 60px;
}

.contact-us{
    font-size:30px ;
    color: black;
}


.yumex{
    font-size: 60px;
    font-weight: bolder;
    margin-top: 120px;
    font-family: 'Lucida Handwriting'
}

.explore{
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.font{
    color: #007bff;;
}


.custom-center-row {
    display: flex;
    justify-content: center;
}

.rows{
    padding-left: 50px;
}